@tailwind base;
@tailwind components;
@tailwind utilities;
@import "semantic-ui-css/semantic.min.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

:root {
  --identy-color: #fca311;
  --primary-color: #17212e;
  --secondary-color: #131a25;
  --base-simple: #f1f2f3;
}

body {
  font-family: "Montserrat", sans-serif !important;
  background-color: var(--secondary-color);
  color: var(--base-simple);
}

* {
  font-family: "Montserrat", sans-serif;
}
